################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStreamAPIGenerator/bin/Debug/netcoreapp1.1
